:root {
  /* Default (Light Mode) */
  --bg-color: #ffffff;
  --text-color: #0f0f0f;
  --primary-color: #ff0000;
  --secondary-bg: #f2f2f2;
  --hover-bg: #e5e5e5;
  --border-color: #e5e5e5;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

[data-theme='dark'] {
  /* Dark Mode */
  --bg-color: #0f0f0f;
  --text-color: #ffffff;
  --primary-color: #ff0000;
  --secondary-bg: #272727;
  --hover-bg: #3f3f3f;
  --border-color: #3f3f3f;
  --shadow-color: rgba(0, 0, 0, 0.5);
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  color: inherit;
}

input {
  font-family: inherit;
  color: inherit;
}